<head>
  <title>flipflopbutton</title>
</head>

<body>

      <div class="container">
         <div class="col-md-4 cookie">
            {{> cookie}}
         </div>
         <div class="col-md-4 stats">
            {{> stats}}
         </div>
         <div class="col-md-4 store">
            {{> store}}
         </div>
      </div>
</body>
