<template name="cookie">
   <center>
      <h2>You have<br>{{currentScore}}<br>cookies</h2>
      <a href="#" class="js-cookie"><img src='img/bigCookie.png' class='bigcookie'></a>
   </center>
</template>
