<template name="store">

  <h1>Upgrades</h1>

  <ul class="toolsList">
    {{#each upgrades}}
     {{> UpgradeItem}}
    {{/each}}
  </ul>

   <h2>Store</h2>

   <ul class="toolsList">
      {{#each tools}}
         {{> ToolItem}}
      {{/each}}
   </ul>
</template>
