<template name="ToolItem">
  <li class="toolItem {{#if isNotAvailable}}item-not-available{{else}}item-available{{/if}}">
    <div>
      <span class="amountBought">{{toolCount}}</span>
      <p rate="{{rate}}">{{name}}</p>
      <small>Price: {{newPrice}} Rate: {{rate}}</small>
    </div>
  </li>
</template>
