<template name="UpgradeItem">
{{#if isVisible}}
  <li li class="upgradeItem {{#if isNotAvailable}}item-not-available{{else}}item-available{{/if}}">
     <img src="{{img}}" class="upgradeImg"><p>{{name}}</p>
     <small>Price: {{newPrice}} Multiplier: {{multiplier}} Tool: {{toolName toolId}}</small>
  </li>
{{/if}}
</template>
