.item-not-available {
  opacity: 0.5;
  background: grey;
}

.item-available {
   background: rgba(144, 195, 212, 0.41);
}

.item-available:hover {
   background: rgb(51, 122, 183);
   color: #fff;
}

.toolItem {
   padding: 10px;
	margin-bottom: 10px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   border-bottom: #ccc solid 1px;
   cursor: pointer;
}

.upgradeItem {
   padding: 10px;
	margin-bottom: 10px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   border-bottom: #ccc solid 1px;
   cursor: pointer;
}

.toolItem p {
   font-weight: bold;
   font-size: 15px;
}

.amountBought {
   float: right;
   font-size: 50px;
}

.toolsList {
   list-style-type: none;
}

.upgradeImg {
   width: 50px;
   heigth: auto;
   float: left;
   margin-right: 15px;
}
