<template name="leaderboard">
   <h3>Top 5 players</h3>
   <table class="leaderboard table table-striped">
      <thead>
        <th>Total Cookies</th>
        <th>Current Rate</th>
      </thead>

      <tbody>
        {{#each games}}
           <tr class="game">
             <td class="cookies">{{parseInt currentScore}}</td>
             <td class="rate">{{parseInt this.currentRate}}</td>
           </tr>
        {{/each}}
      </tbody>
   </table>
</template>
